datasource.name="oak"
url="jdbc\:oakgit\://F\:/Projects/oakgit/run/author/git"
driverClassName="oakgit.jdbc.OakGitDriver"
username="admin"
password="admin"

# as of AEM 6.5.0 Postgres does not work unfortunately
#url="jdbc\:postgresql\://localhost\:15020/oak"
#driverClassName="org.postgresql.Driver"
#username="postgres"
#password="admin"

#url="jdbc\:mysql\://localhost\:15010/oak"
#driverClassName="org.postgresql.Driver"
#username="root"
#password="admin"
